*{
    margin: 0%;
    padding:0%;
}
body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    color: #ffffff;
}
a {
    text-decoration: none;
}
.wrapper {
    background: linear-gradient(360deg,rgb(131, 24, 150) 0%, rgb(157, 58, 25) 40%,rgb(215, 146, 9) 100% );
    width:100% ;

}
.hero {
padding-bottom: 800px;
position:relative;
z-index: 1;
list-style-type: none;
}
.hero h1 {
    font-size: 35px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 120px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;

}
.hero h3 {
    font-size: 35px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 20px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 150px;

}
.hero img {
    max-width: 350px;
    border-radius: 10px;
    border: 10px solid #ffffff;
    position:absolute;
    transform: translate(-50%);
    left:50%;

}
.hero li a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 790px;
    max-width: 800px;
    border-radius: 5px;
    background: #ffffff;
    color:#3b2b27;
    padding:15px 90px;
    border:0;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    border: 5px solid #0d0808;
    

}
.hero h2 {
    font-size: 17px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 720px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;

}